@import "tailwindcss";

@theme {
	--color-evy-light: oklch(62.34% 0 0);
	--color-evy-blue: oklch(60.04% 0.2013 261.37);
	--color-evy-gray: oklch(35.84% 0.0103 285.87);
	--color-evy-gray-light: oklch(97.02% 0 0);
}
