:root {
	--color-evy-light: oklch(97.02% 0 0);
	--color-evy-blue: oklch(60.04% 0.2013 261.37);
	--color-evy-gray: oklch(62.34% 0 0);
	--color-evy-gray-light: oklch(92.494% 0.00011 271.152);
	--color-evy-gray-dark: oklch(35.84% 0.0103 285.87);
}
.bg-gray {
	background-color: var(--color-evy-gray);
}
.bg-gray-light {
	background-color: var(--color-evy-gray-light);
}
.bg-gray-dark {
	background-color: var(--color-evy-gray-dark);
}

.hover\:bg-gray:hover {
	background-color: var(--color-evy-gray);
}
.hover\:bg-gray-light:hover {
	background-color: var(--color-evy-gray-light);
}

.text-blue {
	color: var(--color-evy-blue);
}
.border-gray {
	border-color: var(--color-evy-gray);
}
